<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/reset.css" />
    <link rel="stylesheet" href="../assets/css/cdn.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />

    <script src="../assets/js/script.js" defer></script>
    <title>{{row.name_project}}</title>
  </head>
  <body>
    <!-- scroll atas -->
    <div id="header"></div>
    <div class="add bi bi-plus"></div>
    <!-- bagian menu -->
    <div class="menubar">
      <nav>
        <img src="../assets/img/logo.png" alt="logo" />
      </nav>
      <div class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <button class="tombol-contactMe">Logout</button>
    </div>
    <div class="menu-mini">
      <a href="#">Logout</a>
    </div>
    <div class="pages">
      <div class="page">
        <h1>{{row.name_project}}</h1>
        <section>
          <img
            src="../assets/uploads/{{row.image_filename}}"
            alt="{{row.name_project}}"
            class="cover"
          />
          <div class="info">
            <aside>
              <h2>Duration</h2>
              <span><i class="bi bi-calendar-week"></i>
                <p>{{row.start}} - {{row.end}}</p>
              </span>
              <span><i class="bi bi-clock-history"></i>
                <p>{{row.month}} bulan</p></span>
            </aside>

            <aside>
              <h2>Technologies</h2>
              {{#each row.tech}}
                <span>
                  <i class="fa-brands {{this.icon}}"></i>
                  <p>{{this.name}}</p>
                </span>
              {{/each}}
            </aside>
          </div>
        </section>
        <p>{{row.description}}</p>
      </div>
    </div>
  </body>
</html>